form {
    border: 2px solid grey;
    padding: 20px;
}

button {
    background-color: green;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#back {
    margin: 0 0 1%;
    border: 1px solid black;
    padding: 10px;
    background-color: #dedede;
}

#back p {
    font-size: 20px;
}