<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Web</title>
        <meta name="description" content="t07. Go Web">
    </head>
    <body>
        <p>Please select a time</p>
        <ul>
            <li><a href="/normal">Normal</a></li>
            <li><a href="/quantum">Quantum</a></li>
        </ul>
    </body>
</html>