<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Normal</title>
        <meta name="description" content="t07. Go Web">
    </head>
    <body>
        <h1>Normal</h1>
        <p>In real life you were absent for <%= time.years() %> years, <%= time.months() %> months, <%= time.days() %> days.</p>
    </body>
</html>