<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quantum</title>
        <meta name="description" content="t07. Go Web">
    <body>
        <h1>Quantum</h1>
        <p>In quantum space you were absent for <%= time[0] %> years, <%= time[1] %> months, <%= time[2] %> days.</p>
    </body>
</html>