.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.images img {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}